
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 20 20 20;

    --card: 255 255 255;
    --card-foreground: 20 20 20;

    --popover: 255 255 255;
    --popover-foreground: 20 20 20;

    --primary: 252 245 208;
    --primary-foreground: 20 20 20;

    --secondary: 220 215 252;
    --secondary-foreground: 20 20 20;

    --muted: 240 240 245;
    --muted-foreground: 115 115 115;

    --accent: 155 135 245;
    --accent-foreground: 250 250 250;

    --destructive: 235 87 87;
    --destructive-foreground: 250 250 250;

    --border: 240 240 242;
    --input: 240 240 242;
    --ring: 155 135 245;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.fin-gradient {
  background: linear-gradient(135deg, #9b87f5 0%, #7E69AB 100%);
}

.fin-card {
  @apply bg-white rounded-xl shadow-md overflow-hidden transition-all duration-300;
}

.fin-card:hover {
  @apply shadow-lg -translate-y-1;
}
